<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Great+Vibes&family=Kaushan+Script&family=Source+Sans+Pro:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TSI School</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index" id="home">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>

                        <li class="nav-item">
                        
                        
                            <a class="nav-link" href="/studentcouncil">Student Council</a>
                        </li>

                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Academics
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admission">Admissions</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/cultural">Cultural</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/sports">Sports</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Infrastructure
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/classroom">Classrooms</a></li>
                                <li><a class="dropdown-item" href="laboratories">Laboratories</a></li>
                                <li><a class="dropdown-item" href="basketball">Basketball Court</a></li>
                                <li><a class="dropdown-item" href="/auditorium">Auditorium</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/mandatoryd">Mandatory Disclosure</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>

    </header>

    <form action="/contact" method="POST">
    
        <!-- Cotnact Us Section   -->
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.</p>
            </div>
            <div class="container1">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>THOGHTSSTREAM INNOVATION PRIVIATE LIMIMTED, 52 II STAGE, II CROSS, BTM LAYOUT, <br>BANGALORE 560076</p>
                        </div>
    
                    </div>
    
                    <div class="box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>+91 9148537151</p>
                        </div>
    
                    </div>
    
                    <div class="box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>hr@thoughtsstream.com</p>
                        </div>
    
                    </div>
                </div>
                {{!-- <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type your Message...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="Send">
    
                        </div>
    
    
                    </form>
    
                </div> --}}
            </div>
    
    
    
        </section>
        <h1 style="text-align:center ;">Visit Us At</h1>
    
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27989420.15771187!2d20.70132927080484!3d31.090903088618774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15691ba88043%3A0xc3d37031e49d9fb1!2sTHOUGHTSSTREAM%20INNOVATION%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1659765991418!5m2!1sen!2sin" 
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    
    
    
    </form>
    
    
    </div>
    </div>
{{>footer}}
    </body>
    </html>