<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultural</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Great+Vibes&family=Kaushan+Script&family=Source+Sans+Pro:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/cultural.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TSI School</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index" id="home">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/studentcouncil">Student Council</a>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Academics
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admission">Admissions</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/cultural">Cultural</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/sports">Sports</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Infrastructure
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/classroom">Classrooms</a></li>
                                <li><a class="dropdown-item" href="laboratories">Laboratories</a></li>
                                <li><a class="dropdown-item" href="basketball">Basketball Court</a></li>
                                <li><a class="dropdown-item" href="/auditorium">Auditorium</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/mandatoryd">Mandatory Disclosure</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>

    </header>

<body>
    <div class="about-section">
        <h1>MODFEST</h1>
        <h3>A shimmery stage, alluring passageways, embellishments of bright light and many more beautiful
            ornamentations mark the commencement of this grand three day annual fest of our school and attest to the
            glamour and blitz of the celebrations. The unique blend of grace, vigor and unbound talent exhibited on this
            day through traditional and western dance forms captivates the audiences. Students learn core values of team
            work, patience and persistence. That is the real essence of Modfest.</h3>
    </div>

    <h2 style="text-align:center">Performances</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="images\modfest_1.jpg" alt="Jane" style="width:100%">
                <div class="container">


                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\modfest_2.jpg" alt="Mike" style="width:100%">
                <div class="container">


                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\modfest_3.jpg" alt="John" style="width:100%">
                <div class="container">


                </div>
            </div>
        </div>
    </div>





    <!--independence day -->


    <div class="indep-section">
        <h1>INDEPENDENCE DAY</h1>
        <h3>We celebrated the 72nd Independence Day in our school compound, with great pomp and show. There was great
            enthusiasm among the students. The principal unfurled the tricolour flag and all in unison sang the National
            Anthem and expressed their joy of freedom. The celebration continued with patriotic songs and dance
            performances by the students. The teachers expressed their sentiments and aspirations for the country
            through English and Hindi speeches and urged the students to become responsible citizens of the country.
        </h3>

    </div>

    <h2 style="text-align:center">Performances</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="images\ind_1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\ind_2.jpg" alt="Mike" style="width:100%">
                <div class="container">


                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\ind_3.jpg" alt="John" style="width:100%">
                <div class="container">


                </div>
            </div>
        </div>
    </div>

    <!-- teachers day -->

    <div class="Teacher-section">
        <h1>Teachers Day</h1>
        <h3>It was celebrated on 5th September in the school with great fervor. The students who had been preparing for
            the grand day for more than a week organized a great show dedicated to their teachers. The day buzzed with
            excitement and smiles all around. Music engulfed everyone with enthusiastic dance performances. A band also
            performed to entertain them all. A carnival fete was also organized serving delicious food, offering games
            and a fun photo booth. It was truly a proud day for the teachers to bask in the love and attention they
            received from the students.</h3>
    </div>

    <h2 style="text-align:center">Performances</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="images\teach_1.jpg" alt="Jane" style="width:100%">
                <div class="container">

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\teach_2.jpg" alt="Mike" style="width:100%">
                <div class="container">


                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\teach_3.jpg" alt="John" style="width:100%">
                <div class="container">

                </div>
            </div>
        </div>
    </div>

    <!-- debate compitition -->

    <div class="debate-section">
        <h1>DEBATE</h1>
        <h3>Modern school organised a literature fest, under which debate competitions were held, where we embarked on a
            journey to explore the creative process behind art with an appreciation of a unique story behind each one.
            The aim of the competition was to hone public speaking skills of the students and teach them to be
            articulate while expressing their thoughts and opinions. The sessions were a kaleidoscope of opinions,
            thoughts, ideas and perspective that definitely enhanced the knowledge and understanding of the topic among
            the students.</h3>

    </div>

    <h2 style="text-align:center">Performances</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="images\debate_1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <img src="images\debate_2.jpg" alt="Mike" style="width:100%">
                <div class="container">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\debate_3.jpg" alt="John" style="width:100%">
                <div class="container">
                </div>
            </div>
        </div>
    </div>

    <!--fare-well -->

    <div class="farewell-section">
        <h1>FAREWELL</h1>
        <h3>“I cannot say a goodbye to those whom I have grown to love, for the memories we have made will last a
            lifetime and will never know a goodbye.”

            The farewell was organised by the students and teachers at the school premises where they bid adieu to the
            class 12th with great enthusiasm and wished them luck for the coming life ahead.</h3>

    </div>

    <h2 style="text-align:center">Performances</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="images\farewell_1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <img src="images\farewell_2.jpg" alt="Mike" style="width:100%">
                <div class="container">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images\farewell_3.jpg" alt="John" style="width:100%">
                <div class="container">
                </div>
            </div>
        </div>
    </div>
</body>
{{>footer}}
</html>