<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TSI School</title>
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
    {{!-- {{>header}} --}}
</head>

<body>
    {{>navbar}}
    <div class="wrapper">
    
        <div class="section">
            <h1 style="text-align:left;">WE ENSURE A BETTER EDUCATION <br> FOR A BETTER WORLD</h1>
            <p style="color:#fff;">“I never teach my pupils, I only provide the conditions in which they can learn.”</p>
    
            <div class="text-box">
                <h1>TSI Group of Schools</h1>
                <p style="color:#fff;">“High school is about finding who you are, because that’s more important than trying to be someone
                    else.”.
                    – Nick Jonas
                </p>
                <a href="https://www.linkedin.com/company/thoughtsstream-innovation/" class="hero-btn"> Visit Us To know
                    More </a>
            </div>
    
        </div>
    </div>
    <!--facilities-->
    
    
    <section class="facilities">
        <h1>TSI Facilities</h1>
        <p>ALOT OF FUN ACTIVITIES ARE THERE </p>
        <div class="row">
            <div class="facilities-col">
                <img src="images/library.jpg">
                <h3>World Class Library</h3>
                <p>A library is a collection of materials,
                    books or media that are accessible for use and not just for display purposes.
                    A library provides physical (hard copies) or digital access (soft copies) materials,.</p>
            </div>
    
            <div class="facilities-col">
                <img src="images/basketball.jpg">
                <h3>Basketball largest play ground</h3>
                <p>Basketball is one of the most popular sports in the world and one of the most widely viewed.
                    It is a team sport that involves two teams of five active players each trying to score points against
                    one another
                    by throwing a ball through a 300 cm (10 feet) high hoop (the 'basket') under organised rules.</p>
            </div>
    
            <div class="facilities-col">
                <img src="images/lab.jpg">
                <h3>World Class Laboratories</h3>
                <p>A laboratory is a facility that provides controlled
                    conditions in which scientific or technological research, experiments,
                    and measurement may be performed. </p>
            </div>
    
            <div class="facilities-col">
                <img src="images/vollyball.jpg">
                <h3>Volleyball Court for Girls and Boys</h3>
                <p>Volleyball is a team sport in which two teams of six players are separated by a net
                    . Each team tries to score points by grounding a ball on the other team's court under organized rules..
                </p>
            </div>
        </div>
    </section>
    
    '<section class="testimonials">
        <h1 style="text-align:center ;">What Our Student Says</h1>
        <p>Response of our students on school</p>
    
        <div class=row>
            <div class="testimonial-col">
                <div>
                    <p>“School bells are ringing loud and clear; vacation's over, school is here.” ..
                        “The first day of school is always a fashion show. ...
                        “Let us remember: One book, one pen, one child and one teacher can change the world.”
                    </p>
                    <h3>Amit joshi</h3>
                </div>
            </div>
            <div class="testimonial-col">
                <div>
                    <p>"Education is the passport to the future for tomorrow belongs to those who prepare for it today."
                        "Let us remember: One book, one pen, one child and one teacher can change the world."
                        "Education is the key to unlocking the world, a passport to freedom." "With every book, you go back
                        to school.
                    </p>
                    <h3>Pragati</h3>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <!--SHOWCASE-->
    <showcase>
        <h1 style="margin-bottom: 80px;">POPULAR COURSES WE OFFER</h1>
        <div id="courses">
            <div class="cs">
                <h3>Computer Science</h3>
                <img src="images/cse.jpeg" width="50%" alt="cs">
            </div>
            <div class="business">
                <h3>Business Studies</h3>
                <img src="images/business.jpeg" alt="business">
    
            </div>
            <div class="journalism">
                <h3>Media and Journalism</h3>
                <img src="images/journalism.jpeg" alt="media">
    
            </div>
            <div class="arts">
                <h3>Arts and Humanities</h3>
                <img src="images/arts.jpeg" alt="arts">
    
            </div>
            <div class="medical">
                <h3>Medical Science</h3>
                <img src="images/medical.jpeg" alt="ms">
    
            </div>
        </div>
    </showcase>
    <!--END OF SHOWCASE-->
    
    <footer>
        <p>
    
        </p>
    </footer>


    {{!-- <h1>EQUIRY FORM</h1> --}}

    


    {{!-- <div id="overlay">
        <form action="/index" method="POST">
            <label for="name">Student Name</label>
            <input type="text" id="name" placeholder="Your Name.." name="name">
            <small class="error"></small>

            <label for="father's name">Father's/Guardian's Name</label>
            <input type="text" id="g_name" placeholder="Guardian's Name.." name="guardian_name">
            <small class="error"></small>

            <label for="dob">Date of Birth</label>
            <input type="text" id="dob" placeholder="Date of Birth.. " name="dob">
            <small class="error"></small>

            <div align="justify" class="form-input-kk" style="padding-bottom:20px">
                <label>Seeking Admission in Class </label>
                <select name="admission_class" id="admission_class">
                    <option value="">Admission in Class</option>
                    <option value="Pre-Nursery">Pre-Nursery</option>
                    <option value="Nursery">Nursery</option>
                    <option value="LKG">LKG</option>
                    <option value="HKG">HKG</option>
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V</option>
                    <option value="VI">VI</option>
                    <option value="VII">VII</option>
                    <option value="VIII">VIII</option>
                    <option value="IX">IX</option>
                    <option value="X">X</option>
                    <option value="XI">XI</option>
                    <option value="XII">XII</option>
                </select>
            </div>

            <div align="justify" class="form-input-kk" style="padding-bottom:20px">
                <label style>Last Class attended </label>
                <select name="last_class" id="last_class">
                    <option value="">Last Class</option>
                    <option value="Pre-Nursery">Pre-Nursery</option>
                    <option value="Nursery">Nursery</option>
                    <option value="LKG">LKG</option>
                    <option value="HKG">HKG</option>
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V</option>
                    <option value="VI">VI</option>
                    <option value="VII">VII</option>
                    <option value="VIII">VIII</option>
                    <option value="IX">IX</option>
                    <option value="X">X</option>
                    <option value="XI">XI</option>
                    <option value="XII">XII</option>
                </select>
            </div>

            <label for="prev school name">Previous School Name</label>
            <input type="text" id="previous_school" placeholder="Presently Studying in.." name="prev_school_name">
            <small class="error"></small>

            <label for="email">Email Address</label>
            <input type="text" id="e_mail" placeholder="Email Address .." name="email">
            <small class="error"></small>

            <label for="name">Contact No...</label>
            <input type="text" id="mob_no" placeholder="Contact No.." name="number">
            <small class="error"></small>

            <label for="name">Message</label>
            <textarea id="address" placeholder="Ask your Queries here.." rows="6" name="message"></textarea>
            <small class="error"></small>

            <div class="center">
                <input type="submit" value="Submit">
                <p id="success"></p>

            </div> --}}

            




        {{!-- </form> --}}


    </div>
    <script src="app.js"></script>
    

</body>
{{>footer}}

</html>
