<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandatory Disclosure</title>
    <link rel="stylesheet" href="css/mandatoryd.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/c4798fe700.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>navbar}}
    <div class="banner">

        <img id="student" src="images/student.jpg" alt="student">
        <img id="classroom" src="images/social_image.jpg" alt="classroom">
        <img id="school" src="images/school.jpg" alt="school">


        <div class="centered">
            <h1>

                MANDATORY DISCLOSURE
            </h1>

        </div>
    </div>

    <section class="kk_bg31 sections sections-padding-b-30">
        <div class="">
            <div class="container">
                <div class="row" style="padding-bottom:20px;">
                    <div class="col-md-12">
                        <div class="section-evnt" align="center">
                            <h2>SCHOOL INFORMATION</h2>
                        </div>
                        <div class="banner"></div>
                        <div class="col-md-12">
                            <h3
                                style="text-transform:uppercase; margin-bottom:25px; font-size: 30px; text-align: center; width:50%; font-family: Futurist-Fixed-width;">
                                <span
                                    style="font-size:30px; padding:10px 12px; font-weight:bold; background-color:#263D4F;text-align: center; color:#fff;border-radius:50px;">A</span>
                                General Information</h3>

                            <div class="table-responsive" style="margin-bottom:45px;">
                                <table width="80%" cellspacing="0" cellpadding="0" border="1"
                                    class="table table-bordered table-hover">
                                    <tr>
                                        <td width="5%" align="center"
                                            style="background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            <strong>Sr. No.</strong></td>
                                        <td width="49%"
                                            style="padding:10px;background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            <strong>INFORMATION</strong>
                                        </td>
                                        <td width="46%" align="center"
                                            style="background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            &nbsp;<strong>DETAIL</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            <strong>1</strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 182, 143, 0.65)">NAME OF THE
                                            SCHOOL</td>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">TSI GROUP
                                            OF SCHOOLS</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            <strong>2</strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 182, 143, 0.65)">AFFILIATION
                                            NO(IF APPLICABLE)</td>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">123065
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            <strong>3</strong></td>
                                        <td style="padding:10px; background-color:rgba(231, 182, 143, 0.65)">SCHOOL
                                            CODE(IF APPLICABLE)</td>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">10432</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            <strong>4</strong></td>
                                        <td style="padding:10px; background-color:rgba(231, 182, 143, 0.65)">COMPLETE
                                            ADDRESS WITH PIN CODE</td>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">SECTOR-A,
                                            Indira Nagar,Bangalore(karnataka)INDIA PIN CODE-560038</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            <strong>5</strong></td>
                                        <td style="padding:10px; background-color:rgba(231, 182, 143, 0.65)">PRINCIPAL
                                            NAME & QUALIFICATION</td>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">Mr.
                                            Rajendra Kumar Jain (Msc. B.Ed.)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            <strong>6</strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 182, 143, 0.65)">SCHOOL EMAIL
                                            ID</td>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            admisssion@tsi.edu.in</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">
                                            <strong>7</strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 182, 143, 0.65)">CONTACT
                                            DETAILS (LANDLINE/MOBILE)</td>
                                        <td align="center" style="background-color:rgba(231, 182, 143, 0.65)">0744 -
                                            2421116, 2411116, 2411117, +91- 8003990272</td>
                                    </tr>
                                </table>
                            </div>


                            <h3
                                style="margin-bottom:25px; font-size:30px; text-align: center; width: 45%; font-family: Futurist-Fixed-width;">
                                <span
                                    style="font-size:30px; padding:10px 12px;; font-weight:bold; background-color:#263D4F;text-align: center; color:#fff;border-radius:50px;">B</span>
                                STAFF (TEACHING)</h3>
                            <div class="table-responsive" style="margin-bottom:45px;">
                                <table width="80%" cellspacing="0" cellpadding="0" border="1"
                                    class="table table-bordered table-hover">
                                    <tr>
                                        <td width="5%" align="center"
                                            style="background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            <strong>Sr. No.</strong></td>
                                        <td width="65%"
                                            style="padding:10px; background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            <strong>DOCUMENTS/INFORMATION</strong>
                                        </td>
                                        <td width="30%" align="center"
                                            style="background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            &nbsp;<strong>DETAILS</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">
                                            <strong>1</strong></td>
                                        <td style="padding:10px;background-color:rgba(143, 222, 231, 0.65)">PRINCIPAL
                                        </td>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">Mr.
                                            Rajendra Kumar Jain</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="4" align="center"
                                            style="background-color:rgba(143, 222, 231, 0.65)"><strong>2</strong></td>
                                        <td style="padding:10px; background-color:rgba(143, 222, 231, 0.65)">TOTAL NO.
                                            OF TEACHERS</td>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">157</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px;background-color:rgba(143, 222, 231, 0.65)">PGT</td>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">28</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px;background-color:rgba(143, 222, 231, 0.65)">TGT</td>
                                        <td align="center" style="background-color:rgba(143, 221, 231, 0.65)">61</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px;background-color:rgba(143, 222, 231, 0.65)">PRT</td>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">68</td>
                                    </tr>

                                    <tr>
                                        <td align="center" style="background-color:rgba(143, 221, 231, 0.65)">
                                            <strong>3</strong></td>
                                        <td style="padding:10px;background-color:rgba(143, 221, 231, 0.65)">TEACHER
                                            SECTION RATIO</td>
                                        <td align="center" style="background-color:rgba(143, 221, 231, 0.65)">1:1.5</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">
                                            <strong>4</strong></td>
                                        <td style="padding:10px;background-color:rgba(143, 222, 231, 0.65)">DETAILS OF
                                            SPECIAL EDUCATOR</td>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">Mrs. Alka
                                            Sharma<br> M.A. B.Ed.<br> Diploma in Human Rights<br> (Specialization in
                                            child care & women development)</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">
                                            <strong>5</strong></td>
                                        <td style="padding:10px;background-color:rgba(143, 222, 231, 0.65)">DETAILS OF
                                            COUNSELLOR AND WELLNESS TEACHER</td>
                                        <td align="center" style="background-color:rgba(143, 222, 231, 0.65)">Mrs. Priya
                                            Yadav<br> M.Sc., Child Development,<br> M.A.(English), BEd.</td>
                                    </tr>
                                </table>
                            </div>
                            <h3
                                style="margin-bottom:25px; font-size: 30px; text-align: center; width: 54%; font-family: Futurist-Fixed-width;">
                                <span
                                    style="font-size:30px; padding:10px 12px;; font-weight:bold; background-color:#263D4F;text-align: center; color:#fff;border-radius:50px;">C</span>
                                SCHOOL INFRASTRUCTURE</h3>
                            <div class="table-responsive" style="margin-bottom: 45px;">
                                <table width="80%" cellspacing="0" cellpadding="0" border="1"
                                    class="table table-bordered table-hover">
                                    <tr>
                                        <td width="5%" align="center"
                                            style="background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            <strong>Sr. No. </strong></td>
                                        <td width="65%"
                                            style="padding:10px;background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            <strong>INFORMATION</strong>
                                        </td>
                                        <td width="30%" align="center"
                                            style="background-color:rgba(209, 219, 244, 0.88); border-color:#ccc">
                                            &nbsp;<strong>DETAILS</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">
                                            <strong>1</strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">TOTAL CAMPUS
                                            AREA OF THE SCHOOL (IN SQUARE MTR)</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">11433</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgb(231, 222, 143, 0.65)">
                                            <strong>2</strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65">NO AND SIZE
                                            OF THE CLASS ROOMS (IN SQ MTR)</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65">65 CLASS
                                            ROOMS <br> (48 Sq Mtr Per Class Room)</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="7" align="center"
                                            style="background-color:rgba(231, 222, 143, 0.65)"><strong>3</strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">NO AND SIZE
                                            OF LABORATORIES INCLUDING COMPUTER LABS (IN SQ MTR)</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:10px;padding-left:10px;background-color:rgba(231, 222, 143, 0.65)">
                                            BIOLOGY LAB</td>
                                        <td align="center"
                                            style="padding-left:10px;background-color:rgba(231, 222, 143, 0.65)">46.40
                                            SQ/MTR</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">PHYSICS LAB
                                        </td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">69.64
                                            SQ/MTR</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">CHEMISTRY
                                            LAB</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">84.65
                                            SQ/MTR</td>
                                    </tr>

                                    <tr>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">COMPUTER LAB
                                        </td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">67.72
                                            SQ/MTR</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">LIBRARY</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">95.25
                                            SQ/MTR</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px; background-color:rgba(231, 222, 143, 0.65">COMPOSITE
                                            SCIENCE LAB</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65">46 SQ/MTR
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">
                                            4<strong></strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">INTERNET
                                            FACILITY (Y/N)</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">Yes</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">
                                            5<strong></strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">NO. OF GIRLS
                                            TOILETS</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">6</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">
                                            6<strong></strong></td>
                                        <td style="padding:10px;background-color:rgba(231, 222, 143, 0.65)">NO. OF BOYS
                                            TOILETS</td>
                                        <td align="center" style="background-color:rgba(231, 222, 143, 0.65)">15</td>
                                    </tr>

                                </table>
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    {{>footer}}
</html>