<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academics</title>
    <link rel="stylesheet" href="css/admission.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/c4798fe700.js" crossorigin="anonymous"></script>
</head>

<body>


    <div class="banner">

        <img id="lab" src="images/social_image.jpg" alt="Laboratories">
        <img id="classroom" src="images/classroom.jpg" alt="Laboratories">
        <img id="basket" src="images/office.jpg" alt="Laboratories">
        <div class="centered">
            <h1 class="ad">

                ADMISSIONS
            </h1>

        </div>
    </div>
    <div class="para">
        <h3 id="mw">
            ADMISSION
        </h3>
    </div>

    <div class="line">
        <hr size="3">

    </div>
    <div class="paragraph">
        <p>Where creativity meets excellence. And excellence meets ecstasy.</p>

        <p>
            In keeping with global educational trends, TSI group of School has ergonomically designed buildings where
            students can bring out the best in them. With well-ventilated and cheerfully colored classrooms, the school
            also has playgrounds and attached indoor sporting facility. With its own auditorium, swimming pool,
            basketball court, tennis court, library etc., the young learners will be able to face the competitive world
            with courage and fortitude, attuning them to the magic of our great, big, beautiful world.</p>

    </div>

    <div class="image">
        <img id="tsi" src="images/classroom.jpg" alt="TSI group of Schools">
        <div class="textblock">

            <p>Our Admissions Team manages a transparent and fluid administration process along with providing advice to
                prospective students and academic departments.

                For more than 45 years, Modern School has been a leader in higher education in the city. At the core of
                our wide range of academic inquiry is commitment to attract and engage the best minds in pursuit of
                greater human understanding, pioneering new discoveries, and services to society.</p>
        </div>

    </div>



</body>

</html>