<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>


    <h1>
    </h1>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h2>Quick Links </h2>
                        <ul>
                            <li><a href="/index">HOME</a></li>
                            <li><a href="/about">ABOUT US</a></li>
                            <li><a href="/mandatoryd">Mandatory Disclosure</a></li>
                            <li><a href="/studentcouncil">STUDENT COUNCIL</a></li>
                            
                            <li><a href="/admission">ACADEMICS</a></li>
                            <li><a href="/cultural">CULTURAL</a></li>
                            <li><a href="/sports">SPORTS</a></li>
                            <li><a href="/classroom">INFRASTRUCTURE</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h2>Contact us</h2>
                        <ul>
                            <li> hr@thoughtsstream.com</li>
                            <li>8368 mayflower ave. winder,ga 30680 , street no. 32,newyork</li>
                            <li>000 0000 000</li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h2>About Us </h2>
                        <p>TSI group of school strives to be a leader in providing cutting-edge Software, Services,
                            Consulting, and Skill Development. We are customer-driven and focus on quality deliverables
                            to help businesses to excel in today’s new era of a fast-paced, technology-driven ecosystem.

                            Our strong team with excellent credentials in Business & Technology Consulting and having
                            varied industry experience will help provide a practical approach toward Digital
                            Transformation.
                            We ensure that the technology helps businesses to be ahead of the competition and serve
                            their customers efficiently.</p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/thoughtsstream/"><i
                                class="icon ion-social-facebook"></i></a><a href="https://twitter.com/innovation_TSI"><i
                                class="icon ion-social-twitter"></i></a><a
                            href="https://www.instagram.com/thoughtsstreamsinnovation/"><i
                                class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">© Copyright 2022 Thoughtsstream Innovation Pvt Ltd. All Rights Reserved</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>